@{
    ViewData["Title"] = "Our Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>This Privacy Policy explains what happens when you visit the site.<p>
<p>
    We are committed to safeguarding and preserving the privacy of our website visitors.<br>
    We do not collect any personally identifiable information from visitors to our website unless they expressly opt-in to our services.
</p>

<h4>Use Of Cookies</h4>
<p>We simply don't use Cookies. So don't worry.</p>

<h4>Use of your personal data</h4>
<p>
    - When you sign up to one or more of our services, we will store your data on our database to enable us to provide those services and to improve those services by making them more relevant. <br>
    - We do not share user data with third parties.
</p>

<h4>Protection of your personal information</h4>
<p>
    - We will not use your personal data other than for the purposes described in this notice. <br>
    - We will not keep your personal data for longer than is necessary for the stated purposes. <br>
    - We will take all reasonable and necessary technical and organisational measures to protect your personal data.
</p>